PORT=4000
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@startupbilder.qlzk8pn.mongodb.net/?appName=startupbilder
MONGODB_DB=startup_pitch_builder
JWT_SECRET=8cbf76226e46d389df9d1cc18c3d7b6edb9bf28b929168f4f8fd7b510eead238
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

GOOGLE_CLOUD_PROJECT=qwiklabs-gcp-04-a8498f7d3ef8
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_ENTERPRISE=true

GCS_BUCKET=startup_qwiklabs-gcp-04-a8498f7d3ef8
VERTEX_VECTOR_INDEX_ENDPOINT=1556422480791339008
VERTEX_DEPLOYED_INDEX_ID=startup_pitch_index_1789623701837
