PORT=4000
JWT_SECRET=replace-with-a-long-random-secret
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

GOOGLE_CLOUD_PROJECT=qwiklabs-gcp-04-a8498f7d3ef8
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_ENTERPRISE=true

GCS_BUCKET=startup_qwiklabs-gcp-04-a8498f7d3ef8
VERTEX_VECTOR_INDEX_ENDPOINT=1556422480791339008
VERTEX_DEPLOYED_INDEX_ID=startup_pitch_index_1789623701837
